body
{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
    background-color: rgb(77, 41, 15);
}
.calculator
{
    width: 80%;
    height: auto;
    margin-left: 12%;
    margin-top: 3%;
    padding: 25px;
    background-color: darkorange;

}
.calc
{
    width: 100%;
    height: auto;

}
table
{
    width: 100%;
    height: auto;

}
input
{
    width: 94%;
    height: auto;
    margin: 0;
    padding: 10px;
    text-align: right;
    font-size: 20px;
    background-color: rgb(60, 169, 219);

}
#btn
{
    width: 260px;
    height: 50px;
    margin-top: 2%;
    background-color: deepskyblue;
    font-size: 20px;
}
#btn:nth-child(odd)
{
    background-color: burlywood;
}
#btn:nth-child(even)
{
    background-color: rgb(4, 111, 119);
    color: antiquewhite;
}
#btn1
{
    background-color: brown;
    color: azure;
    width: 260px;
    height: 50px;
    font-size: 20px;
}
