body
{
    margin: 0;
    padding: 0;
    overflow-x:hidden;
    box-sizing: border-box;
}
.section
{
    width: 90%;
    height: auto;
    margin: auto;
    margin-top: 5%;
    padding: 25px ;
    box-shadow: 8px 8px 10px 10px;

}
input[type="text"]
{
   width: 100px;
   height: auto;
   padding: 10px;

}

